.header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: grey;
}

.essa{
    gap: 50px;
    margin-top: 100px;
    margin-left: 125px;
    display: flex;
    flex-direction: row;
}

.teine{
    gap: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.Header2{
    outline: 5px solid grey;
    width: 500px;
    height: 745px;
    background-color: bisque;
}

.Header21{
    outline: 5px solid black;
    width: 500px;
    height: 745px;
    background-color: #ADADC9;
}

.Header3{
    float: right;
    outline: 5px solid grey;
    width: 500px;
    height: 745px;
    background-color: brown;
}

.Header4{
    float: right;
    outline: 5px solid grey;
    width: 500px;
    height: 745px;
    background-color: pink;
}

.Header5{
    float: right;
    outline: 5px solid grey;
    width: 500px;
    height: 745px;
    background-color: white;
}

.Header6{
    margin-left: 125px;
    outline: 5px solid grey;
    width: 500px;
    height: 720px;
    background-color: greenyellow;
}

.Header7{
    outline: 5px solid grey;
    width: 500px;
    height: 720px;
    background-color: goldenrod;
}

.Header8{
    outline: 5px solid grey;
    width: 500px;
    height: 720px;
    background-color: royalblue;
}

.Header9{
    outline: 5px solid grey;
    width: 500px;
    height: 720px;
    background-color: turquoise;
}

h1{
    margin-left: 50px;
}

.Bheader1{
    outline: 5px solid black;
    width: 500px;
    height: 745px;
    background-color: #ADADC9;
}


.Bheader11{
    outline: 5px solid black;
    width: 500px;
    height: 745px;
    background-color: #ADADC9;
}

.Bheader2{
    outline: 5px solid black;
    width: 500px;
    height: 745px;
    background-color: rgb(83, 49, 5);
}

.Bheader3{
    outline: 5px solid black;
    width: 500px;
    height: 745px;
    background-color: rgb(92, 67, 34);
}

.Bheader4{
    outline: 5px solid black;
    width: 500px;
    height: 745px;
    background-color: rgb(53, 32, 5);
}

.Bheader5{
    margin-left: 125px;
    outline: 5px solid black;
    width: 500px;
    height: 720px;
    background-color: rgb(98, 9, 9);
}

.Bheader6{
    margin-left: 125px;
    outline: 5px solid black;
    width: 500px;
    height: 720px;
    background-color: rgb(98, 9, 9);
}

.Bheader7{
    outline: 5px solid black;
    width: 500px;
    height: 720px;
    background-color: rgb(122, 29, 29);
}

.Bheader8{
    outline: 5px solid black;
    width: 500px;
    height: 720px;
    background-color: rgb(163, 16, 16);
}

.Bheader9{
    outline: 5px solid black;
    width: 500px;
    height: 720px;
    background-color: rgba(187, 20, 20, 0.623);
}

.Aheader1{
    outline: 5px solid black;
    width: 500px;
    height: 745px;
    background-color: rgba(175, 200, 28, 0.596);
}

.Aheader2{
    outline: 5px solid black;
    width: 500px;
    height: 745px;
    background-color: rgba(62, 200, 28, 0.596);
}

.Aheader3{
    outline: 5px solid black;
    width: 500px;
    height: 745px;
    background-color: rgba(28, 200, 108, 0.596);
}

.Aheader4{
    outline: 5px solid black;
    width: 500px;
    height: 745px;
    background-color: rgba(183, 200, 28, 0.596);
}

.Aheader51{
    outline: 5px solid black;
    width: 500px;
    height: 745px;
    background-color: #ADADC9;
}

.Aheader5{
    margin-left: 125px;
    outline: 5px solid black;
    width: 500px;
    height: 720px;
    background-color: rgba(62, 200, 28, 0.794);
}

.Aheader6{
    outline: 5px solid black;
    width: 500px;
    height: 720px;
    background-color: rgba(200, 28, 177, 0.794);
}

.Aheader7{
    outline: 5px solid black;
    width: 500px;
    height: 720px;
    background-color: rgba(163, 39, 147, 0.794);
}

.Aheader8{
    outline: 5px solid black;
    width: 500px;
    height: 720px;
    background-color: rgba(163, 39, 39, 0.794);
}

.Retard{
    outline: 5px solid black;
    width: 500px;
    height: 745px;
    background-color: #ADADC9;
}

.Kategooriad{
    margin-left: 25px;
    gap: 30px;
    margin-top: 30px;
    font-size: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.Kategooriad2{
    margin-left: 30px;
    color: black;
    gap: 30px;
    margin-top: 25px;
    font-size: 30px;
    height: 100%;
    display: flex;
    flex-direction: row;

}

button{
    font-size:30px;
    margin-left: 150px;
}

p{
    margin-left: 10px;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
}

h1{
    font-family: 'Bebas Neue', cursive;
}

h2{
    margin-left: 35px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

.nupp1{
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.nupp2{
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.nupp3{
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.tekst{
    margin-top: 10px;
    font-family: 'Bebas Neue', cursive;
}

p1{
    margin-left: 10px;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
}

.kkk{
    width: 100%;
    border-bottom: 5px solid gray;
    margin-top: 100px;
    font-size: 50px;
}

.kkkk{
    width: 100%;
    border-bottom: 5px solid gray;
    margin-top: 375px;
    font-size: 50px;
}

.line1{
    width: 20%;
    border-bottom: 5px solid green;
    margin-top: 30px;
    font-size: 30px;
}

.line2{
    width: 7%;
    border-bottom: 5px solid red;
    margin-top: 30px;
    font-size: 30px;
}

.line3{
    width: 19%;
    border-bottom: 5px solid green;
    margin-top: 30px;
    font-size: 30px;
}

.line11{
    width: 55%;
    border-bottom: solid green;
    margin-top: 30px;
    font-size: 30px;
}

.line22{
    width: 12%;
    border-bottom: solid yellow;
    margin-top: 30px;
    font-size: 30px;
}

img {
    float: left;
}

:root {
    --light: blanchedalmond;
    --dark: black;

}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: monospace;
    font-size: 2em;
}

.light-theme {
    --bg: var(--light);
    --fontColor: var(--dark);
    --btnBg: var(--dark);
    --btnFontColor: var(--light);
}

.dark-theme {
    --bg: var(--dark);
    --fontColor: var(--light);
    --btnBg: var(--light);
    --btnFontColor: var(--dark);
}

.btn {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    position: absolute;
    top: 25px;
    left: 1000px;
    height: 50px;
    width: 100px;
    border-radius: 50%;
} 

.addBtn:hover {
    background-color: #bbb;
  }

  ul li:hover {
    background: #ddd;
  }
  